<section class="connect">
  <ul>
    <li>@annuhdo at <a class="github" href="https://github.com/annuhdo">Github</a></li>
    <li>@annuhdo at <a class="dribbble" href="https://dribbble.com/annuhdo">Dribbble</a></li>
    <li>@annuhdo at <a class="codepen" href="https://codepen.io/annuhdo/">Codepen</a></li>
    <li>@annuhdo at <a class="twitter" href="https://twitter.com/annuhdo">Twitter</a></li>
    <li><a class="email" href="mailto:n5ma@edu.uwaterloo.ca">n5ma @ uwaterloo</a></li>
  </ul>
  <div class="showGithub">https://github.com/annuhdo</div>
  <div class="showDribbble">https://dribbble.com/annuhdo</div>
  <div class="showCodepen">https://codepen.io/annuhdo/</div>
  <div class="showTwitter">https://twitter.com/annuhdo</div>
  <div class="showEmail">n5ma[at]edu[dot]uwaterloo[dot]ca</div>
</section>