<div class="projects-container">
  <section class="projects"><span class="title">Projects</span>
    <ul>
      <li><a href="https://github.com/annuhdo/cabas">cabas</a> is a to-do list web-app that allows real-time collaboration. Useful for roommates to decide on what to get for groceries.</li>
      <li><a href="https://github.com/annuhdo/Food-Recipes-Bot">chopchop</a> is a chatbot that likes to reply with food recipe gifs.</li>
      <li><a href="">geofilters</a> is a collection of snapchat geofilters designed for locations meaningful to me.</li>
    </ul>
  </section>
</div>